/*Background Settings*/

main {
    background-color: rgba(249, 235, 223, .8);
    border: 0.5em red solid;
}

/*Main will be the background since body
does not work for some reason*/
* {
    border: 0.1em black solid;
    font-family:Verdana, Tahoma, sans-serif;
}

.bkg {
    background-color:rgba(249, 235, 223, .8);
}

/*Text settings*/

.title {
    text-align: center;
}

#subsection {
    padding-left: 1em;
}

#intro ,#bio {
    text-align: justify;
}

h4 {
    font-style: italic;
}

/*Element Setting*/

/*
.navbar {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    text-decoration: solid;
}

.navbar a:hover {
    background-color: azure;
}
*/

/*
    <div class="container-fluid bkg no-padding">
        <div class="row">
            <div class="col-12 d-flex justify-content-evenly">
*/
